.navbar{
	display: flex;
	justify-content: ssapace-between;
	padding: 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  background: #0f172a;
  color: white;
}

.navbar__links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar__links a {
  color: white;
  text-decoration: none;
}
