

/*.navbar{
	position: relative;
  overflow: hidden;
}*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  z-index: 1000;
  overflow: hidden;
  font-size: 1.5rem;
}

.navbar::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 8px;
  height: 2px;
  transform: translateX(-50%);
  opacity: 0;
  border-radius: 50%;
  background: #ffffff;

  box-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 8px;
  height: 8px;

  transform: translateX(-50%);
  border-radius: 50%;
  background: #ffffff;

  opacity: 0;

  box-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff;
}

.navbar.active::before {
  opacity: 1;
  animation: lineExpand 1s ease-out forwards;
}

.navbar.active::after {
  opacity: 1;
  animation: splitEnergy 1.2s ease-out forwards;
}


.navbar__links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  
}

.navbar__links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.Navbar__logo{
  font-size: 2rem;
}

.logo-r {
  color:rgb(255, 255, 255);
}
.logo-s {
  color:rgb(255, 158, 67);
}
.logo-h {
  color:rgb(255, 255, 255);
}